<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
        <title>rhok bush: {% block title %}rede online de voluntarios{% endblock %}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" type="text/css" title="Red" href="/static/style_blue.css" />
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="/static/js/jquery-ui-1.8.13.custom/js/jquery-ui-1.8.13.custom.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.maskedinput-1.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/scripts.js" type="text/javascript" charset="utf-8"></script>

    </head>
    <body>
        <div id="header">

            <div id="header_inner" class="fixed">

                <div id="logo">
                    <img src="/static/images/top_logo.png" width="580px"/><br>
                </div>
        
                <div id="menu">
{% block tabs %}
                    <ul id="tabs">
                        <li><a href="/" class="active">HOME</a></li>
                        <li><a href="/mapa/">MAPA</a></li>
                        <li><a href="/sobre/">SOBRE</a></li>
                    </ul>
{% endblock %}
                </div>
        
            </div>
        </div>


	{% block main %}

		{% block colesq %}
		{% endblock %}
		{% block coldir %}
         <div id="secondaryContent_3columns">
                    <div id="columnB_3columns">
                        <h3><span>Ações</span></h3> 
                        <ul id="acoes">
                          {% for action in recent_actions %}
			  <li {% if action.is_event %}class="event"{% endif %}>
                                <label class="label_acao">{{ action.name }}</label><br>
                                <label class="label_data_acao">{{ action.when }}</label>
                                <br>
                                <label class="label_descricao_acao"><a href="#">{{ action.what }}</a></label>

                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="columnC_3columns">
                        <h3><span>Habilidades</span></h3>   
                        <ul class="links">
                          {% for i in top_skills %}
                        <li {% if loop.first %}class="first"{% endif %}><a href="#">{{ i.name }}&nbsp;({{ i.count }})</a></li>
                        {% endfor %}

                        </ul>
                
                        <h3><span>Recursos</span></h3>  
                        <ul class="links">
                          {% for i in top_resources %}
                        <li {% if loop.first %}class="first"{% endif %}><a href="#">{{ i.name }}&nbsp;({{ i.count }})</a></li>
                        {% endfor %}
                        </ul>
                    </div>

                </div>
		<br class="clear" />
		{% endblock %}
	{% endblock %}

        {% block footer %}
        <div id="footer" class="fixed">
            Random Hacks of Kindness S&atilde;o Paulo
        </div>
        {% endblock %}
    </body>
</html>
