{% extends 'base.html' %}

{% block main %}
<div id="main">
<div id="main_inner" class="fixed">
		{% block colesq %}
                <div id="primaryContent_3columns">

                    <div id="columnA_3columns">
        
                        <br class="clear" />                
                        <h3>Crie um chamado!</h3>

                        <div id="formulario">
                            <form action="" id="formCadastro" method="post">
                                <p>
                                    <label class="label_form">Nome:</label><br>
                                        {% if form.name.errors %}
                                        <ul class="errors">
                                    {% for error in form.name.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                         </ul>
                                    {% endif %}
                                    {{ form.name }}
				</p>
				<p>
                                    <label class="label_form">Data (YY/MM/DD HH:MM):</label><br>
                                        {% if form.when.errors %}
                                        <ul class="errors">
                                    {% for error in form.when.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                         </ul>
                                    {% endif %}
                                    {{ form.when }}
                                </p>

                                <p>
                                    <label class="label_form">Descrição:</label><br>
                                        {% if form.what.errors %}
                                        <ul class="errors">
                                    {% for error in form.what.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                         </ul>
                                    {% endif %}
                                    {{ form.what }}
				</p>

                                <p>
                                    <label class="label_form">Localização:</label><br>
                                        {% if form.location.errors %}
                                        <ul class="errors">
                                    {% for error in form.location.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                         </ul>
                                    {% endif %}
                                    <input name="endereco" id="endereco" type="text" value="" />
                                    <input name="location" id="location" type="hidden" />

                                </p>
                                <div id="mymap"></div>
                                <p>
                                    <input id="enviar" type="submit" value="Cadastrar" />
                                </p>
                            </form>

                        </div>
                    </div>
                    
                </div>
		{% endblock %}
		{% block coldir %}
		{{ super() }}
		{% endblock %}

            </div>
    </div>
{% endblock %}
