{% extends 'base.html' %}

{% block main %}
			<div id="main_inner" class="fixed">

				<div id="primaryContent_3columns">

					<div id="columnA_3columns">
						<div id="map_canvas"></div>
					</div>
					
				</div>
		
				<div id="secondaryContent_3columns">
			
					<div id="columnC_3columns">
	
						<h3><span>Filtros</span></h3>	
						<ul class="links">
							<li class="first"><a href="#">Velit molestie</a></li>
							<li><a href="#">Consequat cursus</a></li>
							<li><a href="#">Tempus nullam</a></li>
							<li><a href="#">Magna sed mauris</a></li>
							<li><a href="#">Semper molestie</a></li>
							<li><a href="#">Consequat cursus</a></li>
							<li><a href="#">Tempus nullam</a></li>
							<li><a href="#">Magna sed mauris</a></li>
							<li><a href="#">Semper molestie</a></li>
						</ul>
					</div>

				</div>

				<br class="clear" />

			</div>
{% endblock %}
